<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam suscipit quos blanditiis, aspernatur nulla
        libero velit enim iusto laboriosam labore magni non tempore ipsum recusandae doloribus atque inventore
        accusamus!ipsum
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt ut itaque facere iste! Aperiam
        fugiat veniam libero sunt dolor exercitationem nisi, vitae saepe quisquam et unde, voluptatibus minus
        distinctio.</p>

</body>

</html>